header
    background-image: url('/assets/wood.jpg')
    padding: 1em
    height: 200px
    .logo
        position: absolute
        top: 0
        left: -5
        display: block
        height: 15em
        width: 15em
        background-image: url('/assets/logga.png')
        background-size: contain
    ul
        margin-top: 3em
        display: flex
        justify-content: space-evenly
        margin-left: 8em
        li
            font-size: 3em
            font-weight: bold
            transition: all 100ms
            &:hover
                transform: scale(1.05)

            a
                color: #f1af8a
                &.active
                    color: #f1af8a
                    outline: 3px dotted gold
