<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Bio Baklänges</title>
    <link rel='stylesheet' href='src/main.css' />
  </head>
  <body>
    <div class='page'>
      <header>
        <nav>
          <ul>
            MENU
          </ul>
        </nav>
      </header>

      <div class='main'>{{{body}}}</div>

      <footer>This is a footer</footer>
    </div>
  </body>
</html>