<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Bio Ta i trä</title>
    <link rel='stylesheet' href='src/main.css' />
  </head>
  <body>
    <div class='page'>
      <header>
        <a class="logo" href="/"></a>
        <nav>
          <ul>
            {{#each menu}}
            <li class="menu-item">
              <a class="{{this.status}}" href="{{this.link}}">{{this.label}}</a>
            </li>
            {{/each}}
          </ul>
        </nav>
      </header>

      <div class='main'>{{{body}}}</div>

      <footer>This is a footer</footer>
    </div>
  </body>
</html>