<div class="evenemang">
<h1>Specialevenemang</h1>

<h2>Hur luktar olika träslag?</h2>
<p>Följ med Hans-Ove på rundvandring i grannsnickeriet och upptäck nya nyanser
  av brunt. Perfekta presenten till vänninan eller varför inte till pappa!
  Kontakta oss för prisuppgift senast på måndag.</p>

<img src='assets/carpentry.jpg' alt='Hittar ingen bild' />
</div>